*{
    background-color: darkgray;
}
.main{
    display: flex;
    justify-content: center;
}
#heading{
    font-size: 3rem;
}
.content{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#number{
    font-size: 5rem;
    text-align: center;
}
.btn{
    font-size: 16px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    border-radius: 7px;
    color: #5d5858;
    background-color: #c6c4c4;
    padding: 5px;
    margin: 10px
}
.btn:hover{
    background-color: rgb(61, 58, 58);
    color: rgb(218, 241, 227);
    transition: all 0.4s ease-in-out;
}